{$PUBLIC_HOST} {
	encode gzip

	request_body {
		max_size 12MB
	}

	header {
		-Server
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options nosniff
		X-Frame-Options DENY
		Referrer-Policy strict-origin-when-cross-origin
	}

	reverse_proxy app:3000
}
